
.navlinks{
    border:1px solid #d72323;
    border-width:1px 0;
	background-color: #3a4750;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}

.navlinks a:hover {
	background-color: #ddd;
	color: black;
}

.navlinks li{
    display:inline;
	top: 0;
    width: 100%;
}
.navlinks a{
    display:inline-block;
	font-size: 2em;
	padding: 15px 3%;
	text-align: center;
	color: #d72323;
	text-decoration: none;
}

.mulitmediaCentered{
	margin: auto;
	width: 50%;
	text-align: center;
}

h3{
	color: #d72323;
	font-size: 1.5em;
	margin: auto;
	width: 75%;
	padding: 20px;
}

p{
	font-size: 1.3em;
	margin: auto;
	width: 65%;
	padding: 5px;
}

body{
	background-color:#303841;
	color:#eeeeee;
}

gallery {
  border: 1px solid #ccc;
}
